{% extends 'base.html' %} {% block content %}

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4 text-uppercase">{{ title }}</h2>
        <p class="text-white-50">
          Grayscale is a free Bootstrap theme created by Start Bootstrap. It can
          be yours right now, simply download the template on
          <a href="http://startbootstrap.com/template-overviews/grayscale/"
            >the preview page</a
          >. The theme is open source, and you can use it for any purpose,
          personal or commercial.
        </p>
      </div>
    </div>
    <img
      src="{{url_for('static',filename='img/ipad.png')}}"
      class="img-fluid"
      alt=""
    />
  </div>

  <!-- PHASE ONE -->
  <div class="container">
    <h2 class="text-white mb-4 text-uppercase">
      PHASE ONE
    </h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mx-auto mb-3" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <a href="#" class="btn btn-primary btn-small float-left"
              >View Info</a
            >
            <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto mb-3" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <a href="#" class="btn btn-primary btn-small float-left"
              >View Info</a
            >
            <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto mb-3" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <a href="#" class="btn btn-primary btn-small float-left"
              >View Info</a
            >
            <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto mb-3" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <a href="#" class="btn btn-primary btn-small float-left"
              >View Info</a
            >
            <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto mb-3" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <a href="#" class="btn btn-primary btn-small float-left"
              >View Info</a
            >
            <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto mb-3" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <a href="#" class="btn btn-primary btn-small float-left"
              >View Info</a
            >
            <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PHASE TWO -->
  <div class="container">
    <h2 class="text-white mb-4 text-uppercase">
      PHASE ONE
    </h2>
    <div class="row">
        <div class="col-md-4">
          <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary btn-small float-left"
                >View Info</a
              >
              <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary btn-small float-left"
                >View Info</a
              >
              <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary btn-small float-left"
                >View Info</a
              >
              <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary btn-small float-left"
                >View Info</a
              >
              <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary btn-small float-left"
                >View Info</a
              >
              <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary btn-small float-left"
                >View Info</a
              >
              <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
            </div>
          </div>
        </div>
      </div>
  </div>


  <!-- PHASE THREE -->
  <div class="container">
    <h2 class="text-white mb-4 text-uppercase">
      PHASE ONE
    </h2>
    <div class="row">
        <div class="col-md-4">
          <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary btn-small float-left"
                >View Info</a
              >
              <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary btn-small float-left"
                >View Info</a
              >
              <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary btn-small float-left"
                >View Info</a
              >
              <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary btn-small float-left"
                >View Info</a
              >
              <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary btn-small float-left"
                >View Info</a
              >
              <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary btn-small float-left"
                >View Info</a
              >
              <a href="#" class="btn btn-primary btn-small float-right">Buy</a>
            </div>
          </div>
        </div>
      </div>
  </div>


</section>
{% endblock %}
