{% extends 'base.html' %} {% block content %}

<!-- Signup Section -->
<section id="signup" class="signup-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">
        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5 text-capitalize">
          Add Superhero's To Marvel Universe!
        </h2>
        <form action="{{ url_for('addsuperhero') }}" method="POST" class="form">
          <!-- Group Name -->
          <label for="group_name" class="text-white">Group Name</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="group_name"
            name="group_name"
            placeholder="Enter Group Name..."
          />

          <!-- Real Name -->
          <label for="real_name" class="text-white mt-2">Real Name</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="real_name"
            name="real_name"
            placeholder="Enter Superhero's Real Name..."
          />

          <!-- Name -->
          <label for="name" class="text-white mt-2">Name</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="name"
            name="name"
            placeholder="Enter Superhero's Name..."
          />
          <!-- Aliases -->
          <label for="aliases" class="text-white mt-2">Alias(es)</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="aliases"
            name="aliases"
            placeholder="Enter Superhero's Aliases..."
          />

          <!-- Species -->
          <label for="species" class="text-white mt-2">Species</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="species"
            name="species"
            placeholder="Enter Superhero's Species..."
          />

          <!-- Gender -->
          <label for="gender" class="text-white mt-2">Gender</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="gender"
            name="gender"
            placeholder="Enter Superhero's Gender..."
          />

          <!-- Affiliation -->
          <label for="affiliation" class="text-white mt-2">Affiliation</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="affiliation"
            name="affiliation"
            placeholder="Enter Superhero's Affiliation..."
          />

          <!-- Status -->
          <label for="status" class="text-white mt-2">Status</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="status"
            name="status"
            placeholder="Enter Superhero's Status..."
          />

          <!-- Short Description -->
          <label for="short_description" class="text-white mt-2"
            >Short Description</label
          >
          <textarea
            name="short_description"
            id="short_description"
            cols="30"
            rows="5"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Long Description -->
          <label for="long_description" class="text-white mt-2"
            >Long Description</label
          >
          <textarea
            name="long_description"
            id="long_description"
            cols="30"
            rows="5"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Powers One -->
          <label for="p1" class="text-white mt-2">Powers One</label>
          <textarea
            name="p1"
            id="p1"
            cols="20"
            rows="3"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Powers Two -->
          <label for="p2" class="text-white mt-2">Powers Two</label>
          <textarea
            name="p2"
            id="p2"
            cols="20"
            rows="3"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Powers Three -->
          <label for="p3" class="text-white mt-2">Powers Three</label>
          <textarea
            name="p3"
            id="p3"
            cols="20"
            rows="3"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Other Abilities -->
          <label for="other_powers" class="text-white mt-2">Other Powers</label>
          <textarea
            name="other_powers"
            id="other_powers"
            cols="05"
            rows="2"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Abilities One -->
          <label for="a1" class="text-white mt-2">Abilities One</label>
          <textarea
            name="a1"
            id="a1"
            cols="20"
            rows="3"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Abilities Two -->
          <label for="a2" class="text-white mt-2">Abilities Two</label>
          <textarea
            name="a2"
            id="a2"
            cols="20"
            rows="3"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Abilities Three -->
          <label for="a3" class="text-white mt-2">Abilities Three</label>
          <textarea
            name="a3"
            id="a3"
            cols="20"
            rows="3"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Other Abilities -->
          <label for="other_abilities" class="text-white mt-2"
            >Other Abilities</label
          >
          <textarea
            name="other_abilities"
            id="other_abilities"
            cols="05"
            rows="2"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Poster URL -->
          <label for="poster" class="text-white mt-2">Poster URL</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="poster"
            name="poster"
            placeholder="Enter Poster URL..."
          />

          <!-- URL For URL For Merchandise -->
          <label for="shop_link" class="text-white mt-2"
            >URL For Merchandise</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="shop_link"
            name="shop_link"
            placeholder="Enter Merchandise URL..."
          />

          <!-- URL For Character -->
          <label for="char_page" class="text-white mt-2"
            >URL For Character</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="char_page"
            name="char_page"
            placeholder="Enter Character URL..."
          />
          <hr />
          <!-- Movie Deails One -->
          <h5 class="text-white mt-2 ">Movie Deails One</h5>
          <hr />
          <!-- Movie Deails One - Collection Name-->
          <label for="collection_name" class="text-white mt-2"
            >Collection Name</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="collection_name"
            name="collection_name"
            placeholder="Enter Movie - Collection Name..."
          />
          <!-- Movie Deails One - Title -->
          <label for="m1_title" class="text-white mt-2">Title</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_title"
            name="m1_title"
            placeholder="Enter Movie - Title..."
          />
          <!-- Movie Deails One - phase -->
          <label for="m1_phase" class="text-white mt-2">Phase</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_phase"
            name="m1_phase"
            placeholder="Enter Movie - Phase..."
          />

          <!-- Movie Deails One - homepage -->
          <label for="m1_homepage" class="text-white mt-2">Homepage</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_homepage"
            name="m1_homepage"
            placeholder="Enter Movie - Homepage..."
          />

          <!-- Movie Deails One - IMDB ID -->
          <label for="m1_imdb_id" class="text-white mt-2">IMDB ID</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_imdb_id"
            name="m1_imdb_id"
            placeholder="Enter Movie - IMDB ID..."
          />

          <!-- Movie Deails One - genres -->
          <label for="m1_genres" class="text-white mt-2">Genres</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_genres"
            name="m1_genres"
            placeholder="Enter Movie - Genres..."
          />

          <!-- Movie Deails One - genres -->
          <label for="m1_overview" class="text-white mt-2">Overview</label>
          <textarea
            name="m1_overview"
            id="m1_overview"
            cols="20"
            rows="4"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Movie Deails One - poster_path -->
          <label for="m1_poster_path" class="text-white mt-2"
            >Poster Path</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_poster_path"
            name="m1_poster_path"
            placeholder="Enter Movie - Poster Path..."
          />

          <!-- Movie Deails One - Backdrop Path -->
          <label for="m1_backdrop_path" class="text-white mt-2"
            >Backdrop Path</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_backdrop_path"
            name="m1_backdrop_path"
            placeholder="Enter Movie - Backdrop Path..."
          />

          <!-- Movie Deails One - Production Companies -->
          <label for="m1_production_companies" class="text-white mt-2"
            >Production Companies</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_production_companies"
            name="m1_production_companies"
            placeholder="Enter Movie - Production Companies Name..."
          />

          <!-- Movie Deails One - Logo Path -->
          <label for="m1_logo_path" class="text-white mt-2">Logo Path</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_logo_path"
            name="m1_logo_path"
            placeholder="Enter Movie - Logo Path..."
          />

          <!-- Movie Deails One - Language -->
          <label for="m1_language" class="text-white mt-2">Language</label>
          <input
            type="m1_text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_language"
            name="m1_language"
            placeholder="Enter Movie - Language..."
          />

          <!-- Movie Deails One - Release Date -->
          <label for="m1_release_date" class="text-white mt-2"
            >Release Date</label
          >
          <input
            type="m1_text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_release_date"
            name="release_date"
            placeholder="Enter Movie - Release Date..."
          />

          <!-- Movie Deails One - Tagline -->
          <label for="m1_tagline" class="text-white mt-2">Tagline</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_tagline"
            name="m1_tagline"
            placeholder="Enter Movie - Tagline..."
          />

          <!-- Movie Deails One - Language -->
          <label for="m1_trailer_link" class="text-white mt-2"
            >Trailer Link</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_trailer_link"
            name="m1_trailer_link"
            placeholder="Enter Movie - Trailer Link..."
          />
          <!-- Movie Deails One - Movie Shop Link -->
          <label for="m1_movie_shop_link" class="text-white mt-2"
            >Movie Shop Link</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m1_movie_shop_link"
            name="m1_movie_shop_link"
            placeholder="Enter Movie - Shop Link..."
          />

          <hr />
          <!-- Movie Deails Two -->
          <h5 class="text-white mt-2 ">Movie Deails Two</h5>
          <hr />

          <!-- Movie Deails Two - Collection Name-->
          <label for="m2_collection_name" class="text-white mt-2"
            >Collection Name</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_collection_name"
            name="m2_collection_name"
            placeholder="Enter Movie - Collection Name..."
          />
          <!-- Movie Deails Two - Title -->
          <label for="m2_title" class="text-white mt-2">Title</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_title"
            name="m2_title"
            placeholder="Enter Movie - Title..."
          />
          <!-- Movie Deails Two - phase -->
          <label for="m2_phase" class="text-white mt-2">Phase</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_phase"
            name="m2_phase"
            placeholder="Enter Movie - Phase..."
          />

          <!-- Movie Deails Two - homepage -->
          <label for="m2_homepage" class="text-white mt-2">Homepage</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_homepage"
            name="m2_homepage"
            placeholder="Enter Movie - Homepage..."
          />

          <!-- Movie Deails Two - IMDB ID -->
          <label for="m2_imdb_id" class="text-white mt-2">IMDB ID</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_imdb_id"
            name="m2_imdb_id"
            placeholder="Enter Movie - IMDB ID ID..."
          />

          <!-- Movie Deails Two - genres -->
          <label for="m2_genres" class="text-white mt-2">Genres</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_genres"
            name="m2_genres"
            placeholder="Enter Movie - Genres..."
          />

          <!-- Movie Deails Two - genres -->
          <label for="m2_overview" class="text-white mt-2">Overview</label>
          <textarea
            name="m2_overview"
            id="m2_overview"
            cols="20"
            rows="4"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Movie Deails Two - poster_path -->
          <label for="m2_poster_path" class="text-white mt-2"
            >Poster Path</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_poster_path"
            name="m2_poster_path"
            placeholder="Enter Movie - Poster Path..."
          />

          <!-- Movie Deails Two - Backdrop Path -->
          <label for="m2_backdrop_path" class="text-white mt-2"
            >Backdrop Path</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_backdrop_path"
            name="m2_backdrop_path"
            placeholder="Enter Movie - Backdrop Path..."
          />

          <!-- Movie Deails Two - Production Companies -->
          <label for="m2_production_companies" class="text-white mt-2"
            >Production Companies</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_production_companies"
            name="m2_production_companies"
            placeholder="Enter Movie - Production Companies Name..."
          />

          <!-- Movie Deails Two - Logo Path -->
          <label for="m2_logo_path" class="text-white mt-2">Logo Path</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_logo_path"
            name="m2_logo_path"
            placeholder="Enter Movie - Logo Path..."
          />

          <!-- Movie Deails Two - Language -->
          <label for="m2_language" class="text-white mt-2">Language</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_language"
            name="m2_language"
            placeholder="Enter Movie - Language..."
          />

          <!-- Movie Deails Two - Release Date -->
          <label for="m2_release_date" class="text-white mt-2"
            >Release Date</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_release_date"
            name="m2_release_date"
            placeholder="Enter Movie - Release Date..."
          />

          <!-- Movie Deails Two - Tagline -->
          <label for="m2_tagline" class="text-white mt-2">Tagline</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_tagline"
            name="m2_tagline"
            placeholder="Enter Movie - Tagline..."
          />

          <!-- Movie Deails Two - Language -->
          <label for="m2_trailer_link" class="text-white mt-2"
            >Trailer Link</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_trailer_link"
            name="m2_trailer_link"
            placeholder="Enter Movie - Trailer Link..."
          />
          <!-- Movie Deails Two - Movie Shop Link -->
          <label for="movie_shop_link" class="text-white mt-2"
            >Movie Shop Link</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m2_movie_shop_link"
            name="m2_movie_shop_link"
            placeholder="Enter Movie - Shop Link..."
          />

          <hr />
          <!-- Movie Deails Three -->
          <h5 class="text-white mt-2 ">Movie Deails Three</h5>
          <hr />
          <!-- Movie Deails Three - Collection Name-->
          <label for="m3_collection_name" class="text-white mt-2"
            >Collection Name</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_collection_name"
            name="m3_collection_name"
            placeholder="Enter Movie - Collection Name..."
          />
          <!-- Movie Deails Three - Title -->
          <label for="m3_title" class="text-white mt-2">Title</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_title"
            name="m3_title"
            placeholder="Enter Movie - Title..."
          />
          <!-- Movie Deails Three - phase -->
          <label for="m3_phase" class="text-white mt-2">Phase</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_phase"
            name="m3_phase"
            placeholder="Enter Movie - Phase..."
          />

          <!-- Movie Deails Three - homepage -->
          <label for="m3_homepage" class="text-white mt-2">Homepage</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_homepage"
            name="m3_homepage"
            placeholder="Enter Movie - Homepage..."
          />

          <!-- Movie Deails Three - IMDB ID -->
          <label for="m3_imdb_id" class="text-white mt-2">IMDB ID</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_imdb_id"
            name="m3_imdb_id"
            placeholder="Enter Movie - IMDB ID..."
          />

          <!-- Movie Deails Three - genres -->
          <label for="m3_genres" class="text-white mt-2">Genres</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_genres"
            name="m3_genres"
            placeholder="Enter Movie - Genres..."
          />

          <!-- Movie Deails Three - genres -->
          <label for="m3_overview" class="text-white mt-2">Overview</label>
          <textarea
            name="m3_overview"
            id="m3_overview"
            cols="20"
            rows="4"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <!-- Movie Deails Three - Poster Path -->
          <label for="m3_poster_path" class="text-white mt-2"
            >Poster Path</label
          >
          <input
            type="m3_text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_poster_path"
            name="m3_poster_path"
            placeholder="Enter Movie - Poster Path..."
          />

          <!-- Movie Deails Three - Backdrop Path -->
          <label for="m3_backdrop_path" class="text-white mt-2"
            >Backdrop Path</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_backdrop_path"
            name="m3_backdrop_path"
            placeholder="Enter Movie - Backdrop Path Path..."
          />

          <!-- Movie Deails Three - Production Companies -->
          <label for="m3_production_companies" class="text-white mt-2"
            >Production Companies</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_production_companies"
            name="m3_production_companies"
            placeholder="Enter Movie - Production Companies Name..."
          />

          <!-- Movie Deails Three - Logo Path -->
          <label for="lm3_ogo_path" class="text-white mt-2">Logo Path</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_logo_path"
            name="m3_logo_path"
            placeholder="Enter Movie - Production Companies Logo Path..."
          />

          <!-- Movie Deails Three - Language -->
          <label for="m3_language" class="text-white mt-2">Language</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_language"
            name="m3_language"
            placeholder="Enter Movie - Language..."
          />

          <!-- Movie Deails Three - Release Date -->
          <label for="m3_release_date" class="text-white mt-2"
            >Release Date</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_release_date"
            name="m3_release_date"
            placeholder="Enter Movie - Release Date..."
          />

          <!-- Movie Deails Three - Tagline -->
          <label for="m3_tagline" class="text-white mt-2">Tagline</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_tagline"
            name="m3_tagline"
            placeholder="Enter Movie - Tagline..."
          />

          <!-- Movie Deails Three - Trailer Link -->
          <label for="m3_trailer_link" class="text-white mt-2"
            >Trailer Link</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_trailer_link"
            name="m3_trailer_link"
            placeholder="Enter Movie - Trailer Link..."
          />

          <!-- Movie Deails Three - Movie Shop Link -->
          <label for="m3_movie_shop_link" class="text-white mt-2"
            >Movie Shop Link</label
          >
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 "
            id="m3_movie_shop_link"
            name="m3_movie_shop_link"
            placeholder="Enter Movie - Shop Link..."
          />

          <button type="submit" class="btn btn-primary mx-auto mt-4">
            Add Superhero
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
