{% extends 'base.html' %} {% block content %}

<!-- Signup Section -->
<section id="signup" class="signup-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">
        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">Add More Superhero's to Marvel Universe!</h2>
        <form action="" method="POST" class="form">
          <label for="inputGroupName" class="text-white">Group Name</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="inputGroupName"
            placeholder="Enter Group Name..."
          />
          <label for="inputName" class="text-white">Name</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="inputName"
            placeholder="Enter Superhero Name..."
          />
          <label for="inputDescription" class="text-white">Description</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="inputDescription"
            placeholder="Enter Description..."
          />
          <label for="inputSpecies" class="text-white">Species</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="inputSpecies"
            placeholder="Enter Species Name..."
          />
          <label for="inputSpecies" class="text-white">Gender </label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="inputGender
              "
            placeholder="Enter Gender..."
          />
          <label for="inputAffiliation" class="text-white">Affiliation</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="inputAffiliation"
            placeholder="Enter Affiliation..."
          />
          <label for="inputStatus" class="text-white">Status</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="inputStatus"
            placeholder="Enter Status..."
          />
          <label for="inputPoster" class="text-white">Poster URL</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="inputPoster"
            placeholder="Enter Poster URL..."
          />

          <button type="submit" class="btn btn-primary mx-auto mt-4">
            Add Superhero
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
