{% extends 'base.html' %} {% block content %}

<!-- Contact Section -->
<section class="contact-section bg-black">
  <div class="container">
    <h2 class="text-warning mb-4 text-uppercase text-center mt-2">
      {{ title }} US
    </h2>
    <hr />

    <p class="text-white-50 text-center">
      Please Contact Us directly or fill the form and we will be in touch with
      you as soon as possible
    </p>
    <p class="text-white-50 text-center">
      <small
        >Please note that due to lots of request we get, sometimes it might take
        few horus up to a day to answer. We try to answer you as soon as
        possible.</small
      >
    </p>
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4" />
            <div class="small text-black-50">
              000 Market Street, Dublin Ireland
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4" />
            <div class="small text-black-50">
              <a href="#">hello@marveluniverse.com</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4" />
            <div class="small text-black-50">+353 (000) 000-0000</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 mt-5">
        <h3 class="text-warning mb-4 text-uppercase text-center mt-2">
          Contact Form
        </h3>
        <hr />
        <form action="" method="POST" class="form">
          <!-- Full Name -->
          <label for="full_name" class="text-white">Full Name</label>
          <input
            type="text"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="full_name"
            name="full_name"
            placeholder="Enter Your Full Name..."
          />

          <!-- Email Address -->
          <label for="email" class="text-white mt-2">Email Address</label>
          <input
            type="email"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="email"
            name="email"
            placeholder="Enter Your Email Address..."
          />

          <!-- Message -->
          <label for="message" class="text-white mt-2">Message</label>
          <textarea
            name="message"
            id="message"
            cols="20"
            rows="5"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          ></textarea>

          <div class="text-center">
            <button type="submit" class="btn btn-primary mx-auto mt-4">
              Send
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="social d-flex justify-content-center">
      <a href="#" class="mx-2">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</section>
{% endblock %}
