{% extends 'base.html' %} {% block content %}

<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Marvel Universe</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">
        Feel free to view, add, edit, delate Marvel Superhero from Marverl Universe.
      </h2>
      <a href="#projects" class="btn btn-primary js-scroll-trigger"
        >Get Started</a
      >
    </div>
  </div>
</header>

<!-- Superhero Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">
    {% for superhero in superheros %}

    <!-- Superhero One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="{{url_for('static',filename='img/demo-image-01.jpg')}}"
          alt="{{superhero.name}}"
        />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">{{superhero.name}}</h4>
              <p class="mb-0 text-white-50">
                <!-- An example of where you can put an image of a project, or
                anything else, along with a description. -->
                {{ superhero.description }}
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Superhero Two Row -->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="{{url_for('static',filename='img/demo-image-02.jpg')}}"
          alt="{{superhero.name}}"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">{{superhero.name}}</h4>
              <p class="mb-0 text-white-50">
                {{ superhero.description }}
              </p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
</section>

<!-- Signup Section -->
<section id="signup" class="signup-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">
        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

        <form class="form-inline d-flex">
          <input
            type="email"
            class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
            id="inputEmail"
            placeholder="Enter email address..."
          />
          <button type="submit" class="btn btn-primary mx-auto">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
