{% extends 'base.html' %} {% block content %}

<!-- Superhero Section -->
<section id="projects" class="projects-section bg-dark">
  <div class="container">
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <h2 class="text-center text-warning">
        Marvel Avengers: {{ superhero.name }}
      </h2>
      <div class="col-lg-12">
        <img
          class="img-fluid"
          src="{{ superhero.poster }}"
          alt="{{ superhero.name }}"
        />
      </div>
      <div class="col-lg-12">
        <div class="bg-black h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto  text-lg-left">
              <hr />
              <h4 class="text-center text-warning">Biography</h4>
              <hr />
              <p class="text-white">
                Group Name:
                <span class="text-primary">{{ superhero.group_name }}</span>
              </p>
              <p class="text-white">
                Species:
                <span class="text-success">{{ superhero.species }}</span>
              </p>
              <p class="text-white">
                Gender: <span class="text-danger">{{ superhero.gender }}</span>
              </p>
              <p class="text-white">
                Affiliation:
                <span class="text-warning">{{ superhero.affiliation }}</span>
              </p>
              <p class="text-white">
                Status: <span class="text-info">{{ superhero.status }}</span>
              </p>
              <p class="text-white">
                Description:
                <span class="text-white-50"
                  >{{ superhero.short_description }} <br /><br />
                  {{ superhero.long_description }}</span
                >
              </p>
              <hr />
              <h4 class="text-warning text-center">Powers</h4>
              <hr />
              <p class="text-white-50">
                {{ superhero.powers.p1 }}
              </p>
              <p class="text-white-50">
                {{ superhero.powers.p2 }}
              </p>
              <p class="text-white-50">
                {{ superhero.powers.p3 }}
              </p>
              <p class="text-white-50">
                {{ superhero.powers.other_powers }}
              </p>
              <hr />
              <h4 class="text-warning text-center">Abilities</h4>
              <hr />
              <p class="text-white-50">
                {{ superhero.abilities.a1 }}
              </p>
              <p class="text-white-50">
                {{ superhero.abilities.a2 }}
              </p>
              <p class="text-white-50">
                {{ superhero.abilities.a3 }}
              </p>
              <p class="text-white-50">
                {{ superhero.abilities.other_abilities }}
              </p>
              <hr />
              <h4 class="text-warning text-center">Affiliate Links</h4>
              <hr />
              <p class="text-white">
                Big fan of Marvel {{ superhero.name }}? Why don't use our
                affiliate links and buy your favourite superhero
                {{ superhero.name }}'s merchandise and help us grow even bigger.
              </p>
              <p class="text-white">
                Note:
                <small class="text-white-50"
                  >We Marvel Universe a non-profit Wiki Site. Where all our
                  members are dedicated to provide all marvel fan great deal of
                  information about their favourite Marvel Superhero.
                  Product/Merchandise you buy through our affiliated link helps
                  our site to stay alive and help all the marvel fan!...</small
                >
              </p>
              <p class="text-white">
                {{ superhero.name }} Homepage:
                <a href="{{ superhero.char_page }}"
                  ><small>{{ superhero.char_page }}</small></a
                >
              </p>

              <p class="text-white">
                Buy {{ superhero.name }} Merchandise:
                <a href="{{ superhero.shop_link }}"
                  ><small>{{ superhero.shop_link }}</small></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <!--Movies-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-md-12 mb-5">
        <h2 class="text-warning text-center mt-2">
          Popular {{ superhero.name }} Movies/Appearances Collection
        </h2>
        <hr />
      </div>
    </div>

    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-md-4">
        <div class="card mx-auto mb-3" style="width: 18rem;">
          <img
            src="http://image.tmdb.org/t/p/w500{{ superhero.m1.poster_path }}"
            class="card-img-top"
            alt="{{ superhero.m1.title }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ superhero.m1.title }}</h5>
            <p>{{ superhero.m3.overview }}</p>

            <a
              href="{{ superhero.m3.movie_shop_link }}"
              class="btn btn-primary btn-small"
              target="_blank"
              >Buy Movie</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mx-auto mb-3" style="width: 18rem;">
          <img
            src="http://image.tmdb.org/t/p/w500{{ superhero.m2.poster_path }}"
            class="card-img-top"
            alt="{{ superhero.m2.title }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ superhero.m2.title }}</h5>
            <p>{{ superhero.m3.overview }}</p>

            <a
              href="{{ superhero.m3.movie_shop_link }}"
              class="btn btn-primary btn-small"
              target="_blank"
              >Buy Movie</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mx-auto mb-3" style="width: 18rem;">
          <img
            src="http://image.tmdb.org/t/p/w500{{ superhero.m3.poster_path }}"
            class="card-img-top"
            alt="{{ superhero.m3.title }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ superhero.m3.title }}</h5>
            <p>{{ superhero.m3.overview }}</p>

            <a
              href="{{ superhero.m3.movie_shop_link }}"
              class="btn btn-primary btn-small"
              target="_blank"
              >Buy Movie</a
            >
          </div>
        </div>
      </div>
    </div>
    <hr />
    <h4 class="text-center text-warning text-capitalize">Not What You looking for?..</h4>
    <hr />
    <div class="row mt-5">
      <div class="col-md-4 ">
        <a
          href="{{url_for('edit', superhero_id=superhero._id)}}"
          class="btn btn-primary mx-auto btn-small mt-2"
          >Edit Superhero</a
        >
      </div>
      <div class="col-md-4 ">
        <a
          href="{{ url_for('addsuperhero') }}"
          class="btn btn-primary mx-auto btn-small mt-2"
          >Add Superhero</a
        >
      </div>
      <div class="col-md-4">
        <a
          href="{{url_for('deletesuperhero', superhero_id=superhero._id)}}"
          class="btn btn-primary mx-auto btn-small mt-2"
          >Delete Superhero</a
        >
      </div>
    </div>
  </div>
</section>

{% endblock %}
